{% from "superproject/templates/machine_templates/parts/status_macro.html" import status_badge %}

<div class="machine-row">
	<div class="machine-block">
		<h3 class="block-title">Thông số kỹ thuật tức thời</h3>

		<div class="machine-row">
    	<div class="machine-card">
				<div class="label">Trạng thái</div>
				{{ status_badge(data.status) }}
			</div>
      
			<div class="machine-card">
				<div class="label">Tốc độ</div>
				<div class="value green">{{ data.speed or "" }} M/PH</div>
			</div>

			<div class="machine-card">
				<div class="label">Nhiệt độ động cơ</div>
				<div class="value green">{{ data.temperature_motor or "" }}°C</div>
			</div>

			<div class="machine-card">
				<div class="label">Nhiệt độ nước</div>
				<div class="value green">{{ data.temperature_water or "" }}°C</div>
			</div>
		</div>
	</div>
</div>
