.custom-menu-bar-wrapper {
    background-color: #ebebeb;
}

.custom-menu-bar-wrapper .container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100% !important;
    padding-inline: 5px;
}

.custom-menu-bar {
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    flex: 1;
}


.custom-menu-bar::-webkit-scrollbar {
    display: none;
}

.custom-menu-bar-item {
    white-space: nowrap;
    padding: 5px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: all 0.3s ease;
}

.custom-menu-bar-item:hover,
.custom-menu-bar-item.hover-active {
    background-color: #f7f7f7;
}

.custom-menu-bar-item.active {
    background: #ffffff;
}

.custom-menu-bar-submenu {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    display: none;
    min-width: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.custom-menu-bar-submenu-item {
    display: block;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    width: 100%;
    box-sizing: border-box;
}

.custom-menu-bar-submenu-item:last-child {
    border-bottom: none;
}

.custom-menu-bar-submenu-item:hover {
    background: #f5f5f5;
}

.custom-menu-bar-scroll-btn {
    width: 30px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.custom-menu-bar-scroll-btn.show {
    opacity: 1;
    pointer-events: auto;
}

.custom-menu-bar-scroll-btn:hover {
    background: rgba(0, 0, 0, 0.2);
}

.custom-menu-bar-scroll-btn i {
    font-size: 1.2rem;
    color: #333;
}

.navbar-breadcrumb-wrapper {
	display: flex;
	flex-direction: column;
	line-height: 1.2;
    color: white;
}

.navbar-module {
	font-size: 0.85rem;
	text-transform: uppercase;
	letter-spacing: 0.5px;
    color: white;
    margin-block: 2px;
}

.navbar-breadcrumb {
	display: flex;
	align-items: center;
	gap: 4px;
}

.custom-breadcrumb:hover {
    color: #ededed
}

@media (max-width: 768px) {
    .custom-menu-bar-wrapper {
        display: none !important;
    }
}