body {
  background-image: url("/assets/superproject/assets/images/bg_login.jpg");
  background-size: cover;
  /* phủ hết màn hình */
  background-position: center;
  /* căn giữa ảnh */
  background-repeat: no-repeat;
  /* không lặp lại */
}